html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;

}
body{
    background-color: rgb(203, 172, 231);
}
h1{
    text-align: center;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.3rem;
}
.btn{
    text-decoration: none;
    border: .1rem solid black;
    padding: .7rem;
    color: black;
    border-radius: .4rem;
    font-size: 1.3rem;

}
.btn:hover{
    background-color: blueviolet;
    color: white;
}